@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2? famille= Roboto:poids@300;400 & display=swap');


.container{
    background-color: #ececec;
    margin: 0;
}

.body {
    max-width: 1200px;
    margin: auto;
}

.nav {
    position: fixed;
    top: 2em;
}

.fixe-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: space-between;
}

.button-log {
    cursor: pointer;
    color: antiquewhite;
    font-size: 20px;
    height: 50px;
    border-color: #6d6d6d;
    width: 300px;
    background-color: #294d61;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-sign {
    cursor: pointer;
    color: antiquewhite;
    font-size: 20px;
    height: 50px;
    border-color: #6d6d6d;
    width: 300px;
    background-color: #294d61;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.hero-section {
    padding-top: 2em;
}

.text-section {
    padding-left: 6em;
}

.text-1{
    margin-top: -3rem;
    margin-left: 2em;
}

.text-2{
    margin-top: -3rem;
    margin-left: 6em;
}


.text-section h1 {
    word-spacing: 5px;
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
}

.img-ban {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5em;
    margin-left: -4em;
    column-gap: 10px;
}

.hotel-img {
    width: 1100px;
    height: 700px;
}

.banniere {
    text-align: center;
    font-size: 55px;
    font-family: 'Poppins', sans-serif;
    margin-top: -1.5em;
}

.counter-char {
    padding-top: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2em;
}

.ToDo {
    padding-top: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2em;
}