<section class="container">
<div class="body">
<nav class="fixe-nav">
    <div class="nav">
    <app-hotels></app-hotels>
    </div>
</nav>

    <div class="hero-section">
        <div class="text-section">
            <h1>Ne souyez pas en retard,</h1>
            <h1 class="text-1"> faites vos reservation </h1>
            <h1 class="text-2"> dés maintenant</h1>
        </div>

        
        <div class="button">
            <button class="button-sign"> <h3>Pas de compte, Crée ici</h3></button>
            <button class="button-log"> <h3>Réserver ici</h3></button>
        </div>

        <div class="image-section">
            <img src="../../../assets/image/hotel.jpg" class="hotel-img">
        </div>
    </div>

    <div class="hotels-cards">
        <div class="cards">

        </div>
    </div>

    <div class="counter-char">
        <!-- <app-text-counter></app-text-counter> -->
        <app-star-rating></app-star-rating>
    </div>
</div>
</section>