<div class="container">
<section class="card-list">
    <div class="card" *ngFor="let country of countries">
        <div class="flag">
            <img  [src]="country.flags.svg" width="200" height="200">
        </div>
        <div class="description">
            <p>Population: {{ country.population }}</p>
        </div>

        <div class="name">
        <h2>{{country.name.common}}</h2>
        </div>

        <p><a href={{country.maps.googleMaps}}>View in map</a></p>
    </div>
</section>
</div>
