.content{
    max-width: 1200px;
    margin: auto;
    padding: auto;
}

.body{
    display: grid;
    justify-content: center;
    align-items: center;
}

.widget-moto{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    margin-bottom: 15px;
    position: relative;
}

.widget{
    color: #fff;
    cursor: pointer;
    border: 2px solid #000;
    width: 315px;
    height: 220px;
    border-radius: 15px;
    background-color: #000;
}

@media (max-width:450px){
    .widget-moto{
        row-gap: 15px;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }
}