<div class="background" [style.background-image]="'url(' + backgroundImageUrl + ')'">
<div class="content">
<div class="body">
<nav>
    <div class="widget-moto">
    <app-harley routerLink="/Accessoires" routerLinkActive="active" class="widget"></app-harley>
    <app-boldor class="widget"></app-boldor>
    </div>
    <app-voiture routerLink="/Countries" routerLinkActive="active"></app-voiture>
</nav>

<div class="image-container" >
    <app-backgroundimage class="app-image" [imageName]="imageNames[0]" (imageClicked)="onImageClicked($event)"></app-backgroundimage>
    <app-backgroundimage class="app-image" [imageName]="imageNames[1]" (imageClicked)="onImageClicked($event)"></app-backgroundimage>
    <app-backgroundimage class="app-image" [imageName]="imageNames[2]" (imageClicked)="onImageClicked($event)"></app-backgroundimage>
</div>
</div>
</div>
