<section class="container">
    <div class="header">
        <app-header></app-header>
    </div>
<div class="body">
   
    <div class="text">
        <h1 class="titre">Île Maurice</h1>

        <div class="box">
        <span class="description">Des paysages luxuriants aux infinies plages paradisiaques, 
            votre séjour tout compris sur 
            l’île Maurice révèle des merveilles insoupçonnées. Un séjour à l'Ile Maurice au cœur de l’océan Indien, 
            un paradis tapissé d’eucalyptus, flamboyants et bougainvillées.</span>
        </div>
    </div>


<div class="widget-box">

    <div class="titre-widget">
        <h2>Consultez le widget</h2>
        <hr>
    </div>

<nav class="widget">
    <div class="widget-item" appWidgetAnimation>
    <!--<div class="widget-text">Map</div>-->
    <div class="cards" style="background-image: url(../../../assets/image/map.jpg); background-size: cover; background-position: center center;"  routerLink="/Accessoires">
        <app-harley></app-harley>
    </div>
    </div>

    <div class="widget-item" appWidgetAnimation>
    <!--<div class="widget-text">Pays</div>-->
    <div class="cards" style="background-image: url(../../../assets/image/flag.jpg); background-size: cover; background-position: center center;" (click)="navigateWithDelay()">
        <app-voiture></app-voiture>
    </div>
    </div>
    
    <div class="widget-item" appWidgetAnimation>
    <!--<div class="widget-text">Meteo</div>-->
    <div class="cards">
        <app-boldor></app-boldor>
    </div>
    </div>

</nav>
</div>

</div>
</section>