.background{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.content{
    max-width: 1300px;
    margin: auto;
    padding: auto;
}

.body{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.widget-moto{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    margin-bottom: 15px;
    position: relative;
}

.image-container {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    position: absolute;
    right: 2em;
  }
  
.app-image {
    margin-right: 10px;
  }

@media (max-width:450px){
    .widget-moto{
        row-gap: 15px;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }

}