.navbar {
    border-radius: 10px;
    width: 600px;
    height: 50px;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(3px);
}

li {
    display: inline;
    margin: 30px;
}