.face {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  overflow: hidden;
}

.face i {
  font-size: 40px;
}

.expression {
  color: black;
}

.angry {
  color: red;
}

.sad {
  color: blue;
}

.tired {
  color: blueviolet;
}

.laugh {
  color: green;
}

.smile {
  color: #5c0080;
}

i {
  color:rgb(255, 255, 255);
  cursor: pointer;
}

.active{
  color: yellow;
}

.card {
  background-color: #868686; 
  border-radius: 8px; 
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  margin: 20px; 
}