.widget-voit{
    background-image: url('../../../assets/image/bolivia.jpg');
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 2px solid #000;
    border-radius: 15px;
    width: 665px;
    height: 330px;
    cursor: pointer;
}

.text{
    text-align: center;
    color: aliceblue;
}

@media (max-width:450px){
    .background-video{
        width: 315px;
        height: 220px;
    }
    
}